<div class="modal-header">
  <div class="font-small-2"><strong>{{ id != 0 ? 'Actualizar Permiso' : 'Solicitar Permiso'}}</strong></div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <span>Desde: </span>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group position-relative has-icon-left" style="top: 34%!important;">
            <div *ngIf="modalPermFormSubmitted && (lf.fechaInic.invalid || lf.fechaInic.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
            <div class="input-group">
              <input type="text" [formControl]="myForm.controls['fechaInic']" readonly formControlName="fechaInic" class="form-control"
                id="fechaInic" placeholder="Fecha Inicio" (keydown.enter)="$event.preventDefault()" ngbDatepicker #d2="ngbDatepicker" >
              <div class="input-group-append">
                <div class="input-group-text" (click)="d2.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="">
            <div *ngIf="modalPermFormSubmitted && (lf.timeInic.invalid || lf.timeInic.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido hora y minuto</div>
            <div class="">
              <ngb-timepicker [formControl]="myForm.controls['timeInic']" formControlName="timeInic" id="timeInic"></ngb-timepicker>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <span>Hasta: </span>
      </div>
      <div class="form-group position-relative has-icon-left">
        <div *ngIf="modalPermFormSubmitted && (lf.horas.invalid || lf.horas.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
        <div>
          <ng-select  [items]="horas" [formControl]="myForm.controls['horas']" bindLabel="name" formControlName="horas" placeholder="Elegir horas a salir" id="horas">
          </ng-select>
        </div>
      </div>
      <div class="form-group position-relative has-icon-left">
        <div *ngIf="modalPermFormSubmitted && (lf.minutos.invalid || lf.minutos.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
        <div>
          <ng-select  [items]="minutos" [formControl]="myForm.controls['minutos']" bindLabel="name" formControlName="minutos" placeholder="Elegir minutos a salir" id="minutos">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngIf="modalPermFormSubmitted && (lf.descripcion.invalid || lf.descripcion.errors?.required)"
                class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
          <div class="input-group">
            <span class="input-group-text" id="hasta">Descripción</span>
            <input type="text" [formControl]="myForm.controls['descripcion']" formControlName="descripcion" class="form-control"
            id="descripcion" placeholder="Descripcion" (keydown.enter)="$event.preventDefault()" #descripcion>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary mr-2 mb-1" onclick="document.getElementById('formFileSm').click()"><i class="fa fa-file-o mr-1"></i>Archivo</button>
      <button type="button" class="btn btn-secondary mr-2 mb-1" onclick="document.getElementById('idFoto').click()"><i class="fa fa-camera mr-1"></i>Foto</button>
      <input class="form-control" id="formFileSm" type="file" multiple accept="pdf/*" (change)="imageUpload($event)" style="display: none;">
      <input type="file" accept="image/*" capture="camera" id="idFoto" (change)="imageUpload($event)" style="display: none;">
      
      <div class="col" *ngIf="profileImage">
        <a download='documento' [href]=profileImage ><i class="ft-download mr-1"></i>Descargar documento adjunto</a>
      </div>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-secondary btn-save">
      {{ id != 0 ? 'Actualizar' : 'Solicitar'}}
    </button>
  </div>
</form>
<!-- </div> -->
