<div class="row match-height font-small-1">
  <div class="col-xl-4 col-md-4 col-xs-4">
    <div id="users-list" class="list-group">
      <h4 class="card-title font-small-2">SOLICITUDES PENDIENTES</h4>
      <div class="overflow-auto heightScroll">
        <div class="users-list-padding position-relative">
          <a class="list-group-item" [ngClass]="{'selected-usernet': user.isActive}"
            *ngFor="let user of solicitudesPendientes ">
            <div class="media chat-list-text py-1"  (click)="detalleSolicitud(user)"
                [ngClass]="{'align-items-center': !user.isActiveChat}">
              <span class="avatar avatar-md mr-2">
                <img src="{{user.tfoto}}" alt="Avatar">
                <span class="avatar-status"></span>
                <i></i>
              </span>
              <div class="media-body">
                <h6 class="list-group-item-heading mb-1">{{user.tdescusuasoli}}
                  <!-- <span class="chat-list-text font-small-2 float-right chat-time">{{user.nombre}}</span> -->
                </h6>
                <p class="list-group-item-text chat-user-list-text m-0">
                  <i class="ft-calendar primary font-small-2 mr-1"></i>
                  <span>{{user.tfechinicsoli}}</span>
                  <span>(Sol.: {{user.tsolicitudId}})</span>
                  <span class="float-right primary">
                    <i class="font-medium-3 icon-check mr-1" (click)="aprobarSolicitud(user)"></i>
                    <i class="font-medium-3 icon-close mr-1" (click)="modalShowCancelar(user)"></i>
                    <!-- <span class="badge badge-pill bg-light-primary badge-round"
                      >{{user.nombre}}</span> -->
                  </span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-md-8 col-xs-8">
    <div class="col-xs-12">
      <!-- Bordered & Striped Row Form Layout starts -->
      <section id="bordered-striped-form-layout">
        <div class="row match-height">
          <!-- Bordered Form Layout starts -->
          <div class="col-lg-12 col-12">
            <div class="card" *ngIf="trabajador != null">
              <div class="card-header">
                <!-- <h4 class="card-title">Bordered Form</h4> -->
                <div class="list-group-item " >
                  <div class="media chat-list-text py-1" >
                    <span class="avatar avatar-md mr-2">
                      <img src="{{trabajador.tfoto}}" alt="Avatar">
                      <span class="avatar-status"></span>
                      <i></i>
                    </span>
                    <div class="media-body">
                      <h6 class="list-group-item-heading mb-1">{{trabajador.tdescusuasoli}}
                        <span class="chat-list-text font-small-2 float-right chat-time">Esperando Aprobación</span>
                      </h6>
                      <p class="list-group-item-text chat-user-list-text m-0">
                        <i class="ft-calendar primary font-small-2 mr-1"></i>
                        <span>{{trabajador.thorasfin}}:{{trabajador.tminufin}} (Horas)</span>
                        <span class="float-right primary">
                          <!-- <i class="font-medium-3 icon-check mr-1" ></i>
                          <i class="font-medium-3 icon-close mr-1" ></i> -->
                          <span class="badge badge-pill bg-light-primary badge-round"
                            >{{trabajador.tusuaaprob}}</span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <!-- <p>Add <code>.col-form-label</code> to your <code>&lt;label&gt;</code> so that they’re vertically centered with their associated form controls.</p> -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row align-items-center">
                        <div class="col-md-2 col-xs-12">
                          <label for="puesto" class="col-form-label">Puesto:</label>
                        </div>
                        <div class="col-md-10 col-xs-12">
                          <label id="puesto" class="form-control">{{trabajador.tdescpues}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-xs-12">
                          <label for="fechIngr" class="col-form-label">Fecha Ingreso:</label>
                        </div>
                        <div class="col-lg-9 col-xs-12">
                          <label id="fechIngr" class="form-control">{{trabajador.tfechingrsoli}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-xs-12">
                          <label for="fechSoli" class="col-form-label">Fecha Solicitud:</label>
                        </div>
                        <div class="col-lg-9 col-xs-12">
                          <label id="fechSoli" class="form-control">{{trabajador.tfechregi}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-xs-12">
                          <label for="periVaca" class="col-form-label">Fecha inicio:</label>
                        </div>
                        <div class="col-lg-9 col-xs-12">
                          <label id="periVaca" class="form-control">{{trabajador.tfechinicio}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-xs-12">
                          <label for="periVaca" class="col-form-label">Horas y Minutos:</label>
                        </div>
                        <div class="col-lg-9 col-xs-12">
                          <label id="periVaca" class="form-control">{{trabajador.thorasfin}} : {{trabajador.tminufin}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row align-items-center">
                        <div class="col-md-2 col-xs-12">
                          <label for="descr" class="col-form-label">Descripción:</label>
                        </div>
                        <div class="col-md-10 col-xs-12">
                          <textarea rows="4" class="form-control">{{trabajador.tmotivo}}</textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" *ngIf="trabajador.tficheroadjunto">
                      <a download='Permiso_Documento' [href]=trabajador.tficheroadjunto ><i class="ft-download mr-1"></i>Descargar documento adjunto</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Bordered Form Layout ends -->
        </div>
      </section>
    </div>
    
    <div class="col-xs-12">
      <h4 class="card-title font-small-2">SOLICITUDES APROBADAS</h4>
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-success bg-light-success mr-3 mb-1  float-right" (click)="createXLSX()">Descargar <i class="fa fa-print"></i></button>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap font-small-2 tabla-de-datos" [columnMode]="ColumnMode.force" 
              [rows]="solicitudesAprobadas" [rowHeight]="30" [limit]="10" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
              <ngx-datatable-column name="Código" prop="tusuasoli" [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="Nombre Completo" prop="tdescusuasoli" [width]="200"></ngx-datatable-column>
              <ngx-datatable-column name="Fecha Inicio" prop="tfechinicsoli" [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="Fecha Fin" prop="tfechfinasoli" [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="Tipo" prop="tdesctiposolicitud" [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="Estado" prop="tstatus" [width]="100">
                <ng-template let-status="value" ngx-datatable-cell-template>
                  <div class="badge badge-pill"
                    [ngClass]="{'bg-light-warning': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-primary':status == '4' }">
                    {{ status == 1 ? "Pendiente" : (status == 2 ? "Aprobado" : (status == 3 ? "Rechazado" : (status == 4 ? "Pago Generado" : status))) }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>