<div class="row match-height">
    <div class="col-xl-3 col-lg-12">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body font-small-2">
              <h1 class="card-title font-small-2">
                <span>GENERAR TXT BANCOS</span>
              </h1>
              <p class="grey"></p>
              <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let movilidad of listaMovilidad">
                  <span>{{movilidad.status}}</span>
                  <span class="badge float-right"
                  [ngClass]="{'bg-light-warning': movilidad.status == 'Pendiente', 'bg-light-success':movilidad.status == 'Aprobado', 'bg-light-danger':movilidad.status == 'Rechazado' , 'bg-light-primary':movilidad.status == 'Pago Generado' }"
                  >{{movilidad.cantidad}}</span>
                </li>
              </ul>
              
              <!-- <button type="button" class="btn btn-secondary mr-2" (click)="modalShowSolicitar(0, null)">Solicitar</button> -->
              <button type="button" class="btn btn-secondary mr-2 button-margin" (click)="exportarTXT()">Generar TXT</button>
              <button type="button" class="btn btn-secondary mr-2" (click)="exportarReintentoTXT()">Último TXT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body font-small-2">
              <h1 class="card-title font-small-2">
                <span>GENERAR TXT CONTABILIDAD</span>
              </h1>
              <p class="grey"></p>
              <button type="button" class="btn btn-secondary mr-2" (click)="exportarTXTContabilidad()">Generar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-9 col-lg-12">
      <section id="ngx-datatable-basic">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <!-- <h4 class="card-title float-left font-small-2">HISTORIAL DE MOVILIDAD</h4> -->
                <h4 class="card-title float-left font-small-2">LISTA PARA GENERACIÓN DE PAGO</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <!-- ngx-datatable Basic -->
                  <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap font-small-2 tabla-de-datos" [columnMode]="ColumnMode.force"  
                    [rows]="listaHistorialSolicitudes" [rowHeight]="30" [limit]="10" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" >
                    <ngx-datatable-row-detail [rowHeight]="40">
                      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div class="ml-5 my-1">
                          <div><strong>* Número viaje : </strong> {{ row.tnumeviaje }} <strong>  * Transporte :</strong>  {{ row.ttransporte == 'U' ? 'Urbano' : (row.ttransporte == 'T' ? 'Taxi' : row.ttransporte) }}</div>
                          <div><strong>  * Motivo :</strong> {{ row.tmotivo }}, <strong *ngIf="row.tobservacion != null">,  *Observación : {{ row.tobservacion }}</strong></div> 
                          
                        </div>
                      </ng-template>
                    </ngx-datatable-row-detail>
                    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                      [canAutoResize]="false">
                      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                          [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                          (click)="rowDetailsToggleExpand(row)">
                        </a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Colaborador" prop="tusuasoli" [width]="80"></ngx-datatable-column>
                    <ngx-datatable-column name="Monto" prop="tmonto" [width]="80"></ngx-datatable-column>
                    <ngx-datatable-column name="Fecha Aprobado" prop="tfechresp" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Tipo" prop="tdesctiposolicitud" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Estado" prop="tstatus" [width]="100">
                      <ng-template let-status="value" ngx-datatable-cell-template>
                        <div class="badge badge-pill"
                          [ngClass]="{'bg-light-warning': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-primary':status == '4' }">
                          {{ status == 1 ? "Pendiente" : (status == 2 ? "Aprobado" : (status == 3 ? "Rechazado" : (status == 4 ? "Pago Generado" : status))) }}
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column prop="tsolicitudId" name="Actions">
                      <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                          <i class="ft-edit text-primary cursor-pointer mr-2" 
                            [ngClass]="{'pace-inactive':row.tstatus == '4', 'pace-inactive':row.tstatus == '2', 'pace-inactive':row.tstatus == '3' }" 
                            ></i>
                          <i class="ft-x text-primary cursor-pointer" 
                            [ngClass]="{'pace-inactive':row.tstatus == '4', 'pace-inactive':row.tstatus == '2', 'pace-inactive':row.tstatus == '3' }" 
                            ></i>
                      </ng-template>
                    </ngx-datatable-column> -->
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Row Details  Datatables -->
      <section id="ngx-datatable-basic">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title float-left font-small-2">ULTIMO HISTORIAL DE PAGO GENERADO</h4>
                <button type="button" class="btn btn-success bg-light-success mr-3 mb-1  float-right" (click)="createXLSX()">Descargar <i class="fa fa-print"></i></button>
              </div>
              <div class="card-content">
                <div class="card-body">
      
                  <ngx-datatable #tableRowDetailsPagado class="bootstrap core-bootstrap font-small-2 tabla-de-datos" [columnMode]="ColumnMode.force"
                    [rows]="listaHistorialSolicitudesPagadas" [rowHeight]="30" [limit]="10" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
                    <ngx-datatable-row-detail [rowHeight]="50">
                      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div class="ml-5 my-1">
                          <div><strong>- Número viaje : </strong> {{ row.tnumeviaje }} <strong>  - Transporte :</strong> {{ row.ttransporte == 'U' ? 'Urbano' : (row.ttransporte == 'T' ? 'Taxi' : row.ttransporte) }}  <strong>  - Monto :</strong> {{ row.tmonto }}</div>
                          
                          <div><strong>  - Motivo :</strong> {{ row.tmotivo }}</div>
                          
                        </div>
                      </ng-template>
                    </ngx-datatable-row-detail>
                    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                      [canAutoResize]="false">
                      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                          [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                          (click)="rowDetailsPayToggleExpand(row)">
                        </a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Colaborador" prop="tusuasoli" [width]="80"></ngx-datatable-column>
                    <ngx-datatable-column name="Fecha Aprobado" prop="tfechresp" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Fecha Pagada" prop="tfechactu" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Tipo" prop="tdesctiposolicitud" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Estado" prop="tstatus" [width]="100">
                      <ng-template let-status="value" ngx-datatable-cell-template>
                        <div class="badge badge-pill"
                          [ngClass]="{'bg-light-warning': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-primary':status == '4' }">
                          {{ status == 1 ? "Pendiente" : (status == 2 ? "Aprobado" : (status == 3 ? "Rechazado" : (status == 4 ? "Pago Generado" : status))) }}
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Row Details  Datatables -->
    </div>
    
  </div>