
    <!-- <div class="modal-content"> -->
<div class="modal-header">
  <h4 class="modal-title"> {{ id != 0 ? 'Actualizar Movilidad' : 'Solicitar Movilidad'}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <!-- <fieldset class="form-group position-relative has-icon-left"> -->
            <div class="input-group">
              <input type="text" [formControl]="myForm.controls['fechaInic']" readonly formControlName="fechaInic" class="form-control"
                id="fechaInic" placeholder="Fecha Inicio" (keydown.enter)="$event.preventDefault()" ngbDatepicker #d2="ngbDatepicker" >
              <div class="input-group-append">
                <div class="input-group-text" (click)="d2.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          <!-- </fieldset> -->
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="input-group">
            <input type="text" [formControl]="myForm.controls['fechaFina']" readonly formControlName="fechaFina" class="form-control"
              id="fechaFina" placeholder="Fecha Fin" (keydown.enter)="$event.preventDefault()" ngbDatepicker #d3="ngbDatepicker" >
            <div class="input-group-append">
              <div class="input-group-text" (click)="d3.toggle()">
                <i class="fa fa-calendar" style="cursor: pointer;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xs-12 col-md-6">
          <fieldset class="form-group position-relative has-icon-left">
            <div class="form-control-position">
              <i class="ft-grid"></i>
            </div>
            <input type="text" [formControl]="myForm.controls['numeViajes']" formControlName="numeViajes" class="form-control"
              id="numeViajes" placeholder="N° de Viajes" (keydown.enter)="$event.preventDefault()" required #numeViajes>
            <div class="form-control-position control-position-right">
              <i class="ft-grid"></i>
            </div>
          </fieldset>
        </div>
        <div class="col-xs-12 col-md-6">
          <div>
            <ng-select  [items]="transporte" [formControl]="myForm.controls['transporte']" bindLabel="name" formControlName="transporte" placeholder="Elegir transporte" id="transporte">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xs-12 col-md-6">
          <div>
            <ng-select  [items]="origen" [formControl]="myForm.controls['origen']" bindLabel="name" formControlName="origen" placeholder="Elegir origen" id="origen">
            </ng-select>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div>
            <ng-select  [items]="destino" [formControl]="myForm.controls['destino']" bindLabel="name" formControlName="destino" placeholder="Elegir destino" id="destino">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xs-12 col-md-9">
          <fieldset class="form-group position-relative has-icon-left">
            <div class="form-control-position">
              <i class="ft-grid"></i>
            </div>
            <input type="text" [formControl]="myForm.controls['motivo']" formControlName="motivo" class="form-control"
              id="motivo" placeholder="Motivo desplazamiento" (keydown.enter)="$event.preventDefault()" required #motivo>
            <div class="form-control-position control-position-right">
              <i class="ft-grid"></i>
            </div>
          </fieldset>
        </div>
        <div class="col-xs-12 col-md-3">
          <fieldset class="form-group position-relative has-icon-left">
            <div class="form-control-position">
              <i class="ft-grid"></i>
            </div>
            <input type="number" [formControl]="myForm.controls['monto']" formControlName="monto" class="form-control"
              id="monto" placeholder="Monto" (keydown.enter)="$event.preventDefault()" required #monto >
            <div class="form-control-position control-position-right">
              <i class="ft-grid"></i>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-primary btn-save">
      {{ id != 0 ? 'Actualizar' : 'Solicitar'}}
    </button>
  </div>
</form>
<!-- </div> -->
