<div class="row match-height font-small-1">
  <div class="col-xl-4 col-lg-12">
    
    <div id="users-list" class="list-group">
      <h4 class="card-title font-small-2">SOLICITUDES PENDIENTES</h4>
      <div class="users-list-padding position-relative">

        <a class="list-group-item " 
          *ngFor="let user of solicitudesLicencias ">
          <div class="media chat-list-text py-1"  (click)="detalleSolicitud(user)">
            <span class="avatar avatar-md mr-2">
              <img src="{{user.tfoto}}" alt="Avatar">
              <span class="avatar-status"></span>
              <i></i>
            </span>
            <div class="media-body">
              <h6 class="list-group-item-heading mb-1">{{user.tdescusuasoli}}
                <!-- <span class="chat-list-text font-small-2 float-right chat-time">{{user.nombre}}</span> -->
              </h6>
              <p class="list-group-item-text chat-user-list-text m-0">
                <i class="ft-calendar primary font-small-2 mr-1"></i>
                <span>{{user.periodo}}</span>
                <span class="float-right primary">
                  <i class="font-medium-3 icon-check mr-1" (click)="aprobarSolicitud(user)"></i>
                  <i class="font-medium-3 icon-close mr-1" (click)="modalShowCancelar(user)"></i>
                  <!-- <span class="badge badge-pill bg-light-primary badge-round"
                    >{{user.nombre}}</span> -->
                </span>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="col-xl-8 col-lg-12">
    <!-- Bordered & Striped Row Form Layout starts -->
    <section id="bordered-striped-form-layout">
      <div class="row match-height">
        <!-- Bordered Form Layout starts -->
        <div class="col-lg-12 col-12">
          <div class="card" *ngIf="trabajador != null">
            <div class="card-header">
              <!-- <h4 class="card-title">Bordered Form</h4> -->
              <div class="list-group-item " >
                <div class="media chat-list-text py-1" >
                  <span class="avatar avatar-md mr-2">
                    <img src="{{trabajador.tfoto}}" alt="Avatar">
                    <span class="avatar-status"></span>
                    <i></i>
                  </span>
                  <div class="media-body">
                    <h6 class="list-group-item-heading mb-1">{{trabajador.tdescusuasoli}}
                      <span class="chat-list-text font-small-2 float-right chat-time">Esperando Aprobación</span>
                    </h6>
                    <p class="list-group-item-text chat-user-list-text m-0">
                      <i class="ft-calendar primary font-small-2 mr-1"></i>
                      <span>{{trabajador.periodo}} ({{trabajador.tcantidaddias}} dias)</span>
                      <span class="float-right primary">
                        <!-- <i class="font-medium-3 icon-check mr-1" ></i>
                        <i class="font-medium-3 icon-close mr-1" ></i> -->
                        <span class="badge badge-pill bg-light-primary badge-round"
                          >{{trabajador.tusuaaprob}}</span>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-body">
                <!-- <p>Add <code>.col-form-label</code> to your <code>&lt;label&gt;</code> so that they’re vertically centered with their associated form controls.</p> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="puesto" class="col-form-label">Puesto:</label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="puesto" class="form-control">{{trabajador.tdescunidfuncsoli}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="fechSoli" class="col-form-label">Fecha Solicitud:</label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="fechSoli" class="form-control">{{trabajador.tfechregi}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="descr" class="col-form-label">Fecha inicio: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="descr" class="form-control">{{trabajador.tfechinicio}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="periVaca" class="col-form-label">Fecha fin: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="periVaca" class="form-control">{{trabajador.tfechfin}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="descr" class="col-form-label">Origen: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="descr" class="form-control">{{trabajador.torigen}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="periVaca" class="col-form-label">Destino: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="periVaca" class="form-control">{{trabajador.tdestino}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="descr" class="col-form-label"># de viaje: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="descr" class="form-control">{{trabajador.tnumeviaje}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="periVaca" class="col-form-label">Transporte: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="periVaca" class="form-control">{{trabajador.ttransporte}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="descr" class="col-form-label">Monto: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="descr" class="form-control">{{trabajador.tmonto}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row align-items-center">
                      <div class="col-lg-3 col-3">
                        <label for="periVaca" class="col-form-label">Motivo: </label>
                      </div>
                      <div class="col-lg-9 col-9">
                        <label id="periVaca" class="form-control">{{trabajador.tmotivo}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Bordered Form Layout ends -->
      </div>
    </section>
  </div>
</div>