
    <!-- <div class="modal-content"> -->
<div class="modal-header">
  <div class="font-small-2"><strong>{{ id != 0 ? 'Actualizar Vacaciones' : 'Solicitar Vacaciones'}} </strong></div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group position-relative has-icon-left">
        <!-- <div class="form-control-position">
          <i class="ft-message-square"></i>
        </div> -->
        <div *ngIf="modalFormSubmitted && (lf.hasta.invalid || lf.hasta.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido</div>
        <ng-select  [items]="diasASalir" [formControl]="myForm.controls['hasta']" bindLabel="name" formControlName="hasta" placeholder="Elegir días a salir" id="hasta">
        </ng-select>
        <!-- <input type="text" [formControl]="myForm.controls['hasta']" formControlName="hasta" class="form-control"
          id="hasta" placeholder="Hasta" (keydown.enter)="$event.preventDefault()" required #hasta> -->
        <!-- <div class="form-control-position control-position-right">
          <i class="ft-message-square"></i>
        </div> -->
      </div>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-secondary btn-save">
      {{ id != 0 ? 'Actualizar' : 'Solicitar'}}
    </button>
  </div>
</form>
<!-- </div> -->
