/* You can add global styles to this file, and also import other style files */
.selected-usernet {
    background-color: #cec8f5!important;
    border-right: 3px solid #975AFF!important;
}
.heightScroll {
    height: calc(100vh - 300px);
}